@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DDinPro Regular";
  src: url("../assets/fonts/DDinPro/D-DIN-PRO-400-Regular.otf");
}

@font-face {
  font-family: "DDinPro Bold";
  src: url("../assets/fonts/DDinPro/D-DIN-PRO-700-Bold.otf");
}

@font-face {
  font-family: "DDinPro Extra Bold";
  src: url("../assets/fonts/DDinPro/D-DIN-PRO-800-ExtraBold.otf");
}





@font-face {
  font-family: "DDinPro Medium";
  src: url("../assets/fonts/DDinPro/D-DIN-PRO-500-Medium.otf");
}

@font-face {
  font-family: "DDinPro Semi Bold";
  src: url("../assets/fonts/DDinPro/D-DIN-PRO-600-SemiBold.otf");
}

* {
  font-family: "DDinPro Regular";
}
